<h1>Election Manager</h1>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Vote</a></li>
    <li role="presentation"><a href="#">Manage Elections</a></li>
    <li role="presentation"><a href="#">Help</a></li>
    <li role="presentation"><a href="#">Contact</a></li>
</ul>
